<main class="main">
  <div class="frame">
    <div class="center">
      <section class="todo-cmp">
        <header class="todo-cmp__header">
          <h2>Current Permissions</h2>
        </header>

        <ul class="todo-cmp__list">
          @for(permission of browserPermissions; track $index){
          <app-permission-list [name]="permission"></app-permission-list>
          }
        </ul>
      </section>
    </div>
  </div>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
